@keyframes DesplazamientoBodyMobile_Left{

  0%   {margin-left:0%;}
  100% {margin-left:-100%;}
}

@keyframes DesplazamientoBodyMobile_Right{

  0%   {margin-left:-100%;}
  100% {margin-left:0%;}
}


.App{

  width:100%;
  height:100vh;
}

.content{

  width:100%;
  height:100vh;
  background-size: cover;
  background-image:url('../img/fondo.png');
}

.content{

  width:100%;
  height:100vh;
  overflow:hidden;
}

.titulo_pagina_content{

  top:0px;
  left:0px;
  width:100%;
  height:10vh;
  position:absolute;
  text-align:center;
  background:rgb(0, 29, 0);
  box-shadow:20px 90vh 20vh white;
  text-shadow: 5px 8px 3px black;
}

.Header_Api_Pacientes{

  width:50%;
  height:90vh;
  padding-top:10vh;
  background:rgba(0, 27, 8,0.4);
}

.Api_Pacientes_content{

  width:50%;
  height:90vh;
  padding-top:10vh;
  background:rgba(0, 27, 8,0.5);
  overflow:scroll;
  overflow-x: hidden;
  scrollbar-color:dark;
}

h1{

  width:100%;
  font-size:3em;
  color:white;
  margin-top:0px;
}

h2{

  width:100%;
  font-size:2em;
  color:white;
  margin-top:0px;
}

.body_Carre{

  width:100%;
  height:100vh;
}

form{

  width:60%;
  height:80vh;
  margin:0 auto;
  margin-top:3%;
  text-align:center;
  background: rgba(5, 5, 5, 0.2);
  align-content: center;
  box-shadow:8px 6px 24px black;
}

input{

  width:90%;
  height:4%;
  border-radius:25px;
  color:white;
  background: rgba(7, 35, 1, 0.4);
}

input:valid {

  border:3px solid green;
  padding-left:2%;
}

label{

  color:white;
  font-size:1em;
}

textarea{

  width:90%;
  height:20vh;
  border:none;
  background: rgba(7, 35, 1, 0.6);
  resize: none;
  color:white;
}

.SubmitBTN{

  width:95%;
  height:5vh;
  font-size:1em;
  margin-top:2%;
  margin-bottom:2%;
  color:rgb(0,27,8);
}

.Message{

  background: white;
  font-size:1.2em;
  text-align:center;
  opacity:0.4;
  width:80%;
  margin:0 auto;
  margin-top:20vh;
}


@media(min-width:770px){

  .Header_Api_Pacientes{

    margin:0%;
    float:left;
  }

  .Api_Pacientes_content{
 
    float:left;
    margin-left:0%;
  }

  .MenuMobile{

    display:none;
  }

}

@media(max-width:1000px){

  form{

    width:90%;
  }
}

@media(max-width:769px){

  .App{

    overflow: hidden;
  }

  .titulo_pagina_content{

    display:grid;
    grid-template-rows:50% 50%;

  }

  h1{

    width:100%;  
    float:left;
    margin:2px;
    color:white;
    font-size:1.4em;
  }

  h2{
    
    margin-bottom:1vh;
  }

  .MenuMobile{
    
    height:5vh;
    width:100%;
    float:left;
    display:hidden;
  }

  .btnMenuMobile{

    width:50%;
    height:100%;
    background:none;
    color:white;
    border:0.05vh solid white;
  }

  .Header_Api_Pacientes{

    width:50%;
    float:left;
    margin:0px;
    height:100vh;
  }

  .Api_Pacientes_content{

    width:50%;
    float:left;
    margin:0px;
    height:100vh;
  }

  .body_Carre{

    width:200%;
  }

  form{

    width:96%;
    margin-left:0.8%;
  }

}
